.idea
.DS_Store
_build/
node_modules/
lib/
coverage/
reports/
screenshots/
public
*.env*
npm-debug.log.*
npm-debug.log
newrelic_agent.log
/output.json
mycert.pem
result.json
*.log
.vscode/
.history/
janci.js
*.pid
vault/config.hcl